<mat-card class="selected-sale-card">
    <div class="selected-sale-details">
        <mat-card-title>Detalles de Venta</mat-card-title>
        <mat-card-content>
            <p><strong>Factura:</strong> {{ selectedSale?.invoice_number }}</p>
            <p><strong>Cliente:</strong> {{ selectedSale?.customer.name }}</p>
            <p><strong>Total Venta:</strong> {{ selectedSale?.total_sale | currency }}</p>
            <p><strong>Fecha:</strong> {{ selectedSale?.sale_date | date }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" (click)="onClose()">Cerrar Detalles</button>
        </mat-card-actions>
    </div>
</mat-card>