<!-- src/app/app.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar style="background-color: white;">
      <img class="logo" src="./assets/logo.png" alt="logo">
    </mat-toolbar>
    <div class="user">
      <img src="./assets/user.png" alt="user">
      <span>Administrador</span>
    </div>
    <mat-nav-list>
      <a *ngFor="let item of navItems" mat-list-item [routerLink]="item.path" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        {{ item.label }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Sistema Administrativo de Ventas</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>