<div class="header-container">
    <h2 class="header-title">Creación de producto</h2>
    <p class="header-subtitle">Por favor, complete los siguientes campos:</p>
</div>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input matInput type="text" formControlName="code" required>
        <mat-error *ngIf="productForm.get('code')?.invalid && productForm.get('code')?.touched">Código es
            requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" required>
        <mat-error *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">Nombre es
            requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Valor de Venta</mat-label>
        <input matInput type="number" formControlName="price" required>
        <mat-error *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">Valor de Venta es
            requerido y debe ser mayor a 0</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="hasIva">¿Maneja IVA?</mat-checkbox>

    <mat-form-field appearance="outline" *ngIf="productForm.get('hasIva')?.value">
        <mat-label>% de IVA</mat-label>
        <input matInput type="number" formControlName="ivaPercentage" [disabled]="!productForm.get('hasIva')?.value"
            required>
        <mat-error
            *ngIf="productForm.get('ivaPercentage')?.invalid && productForm.get('ivaPercentage')?.touched">Porcentaje de
            IVA es requerido y debe ser entre 0 y 100</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid || loading">
        <span *ngIf="!loading">Crear Producto</span>
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
    </button>
</form>